<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Rental Centre - Experienced & Trusted</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/RoleUser/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/RoleUser/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/RoleUser/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/RoleUser/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/RoleUser/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/RoleUser/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color:ghostwhite">    
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                    
                    <div class="our-link">
                        <ul>
                            @{ string hidden = "hidden";
                                if (Session["username"] == null)
                                {
                                    hidden = "hidden";
                                }
                                else
                                {
                                    hidden = "";
                                }
                            }
                            <div @hidden>
                                <li>
                                    <div class="dropdown show">
                                        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Profile
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item-text" onmousemove="coloring(this)" onmouseout="colored(this)" href="@Url.Action("page_myAccount", "Penyewa")" style="color:black"><small>Lihat profile</small></a>
                                            <a class="dropdown-item-text" onmousemove="coloring(this)" onmouseout="colored(this)" href="@Url.Action("edit_myAccount", "Penyewa")" style="color:black"><small>Edit Profile</small></a>
                                            <a class="dropdown-item-text" onmousemove="coloring(this)" onmouseout="colored(this)" href="@Url.Action("edit_password", "Penyewa")" style="color:black"><small>Ubah Password</small></a>
                                            <a class="dropdown-item-text" onmousemove="coloring(this)" onmouseout="colored(this)" href="@Url.Action("hapus_myAccount", "Penyewa")" style="color:black"><small>Nonaktifkan akun</small></a>
                                        </div>
                                    </div>
                                    <!-- SCRIPT -->
                                    <script>
                                        function coloring(a) {
                                            a.style.color = "lightblue";
                                        }
                                        function colored(a) {
                                            a.style.color = "black";
                                        }
                                    </script>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" style="color:red">
                                        Logout
                                    </a>

                                </li>
                            </div>
                            @if (Session["username"] == null)
                            {
                                <li><a data-toggle="modal" data-target="#detail" href="#">Sign-in</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yakin ingin keluar?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Tekan tombol <span style="color:red">"Logout"</span> di bawah ketika kamu yakin ingin keluar.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="@Url.Action("logout", "Penyewa")">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Penyewa")"><img src="~/Content/RoleUser/images/logo.png" class="logo-display" Height="50" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        @if (Request.Url.ToString() == "http://localhost:51457/" || Request.Url.ToString() == "http://localhost:51457/Penyewa/" || Request.Url.ToString() == "http://localhost:51457/Penyewa/Index/")
                        {
                            <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Penyewa")">Home</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Penyewa")">Home</a></li>
                        }
                        @{string aktif = "";}
                        @if (Request.Url.ToString().Contains("Penyewa/All") || Request.Url.ToString().Contains("Penyewa/Product"))
                        {
                            aktif = "active";
                        }
                        else
                        {
                            aktif = "";
                        }
                        <li class="dropdown @aktif megamenu-fw">
                            <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown">Product</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        @foreach (var item in ViewBag.mskelompokjenis)
                                        {
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">@item.nama_kelompokjenis</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        @foreach (var jb in ViewBag.msjenisbarang)
                                                        {
                                                            if (item.id_kelompokjenis == jb.id_kelompokjenis)
                                                            {
                                                                <li><a href="@Url.Action("All", "Penyewa", new { filter = jb.id_jenisbarang })">@jb.nama_jenisbarang</a></li>
                                                            }

                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }

                                        <!-- end col-3 -->
                                    </div>
                                    <!-- end row -->
                                </li>
                            </ul>
                        </li>
                        @if (Request.Url.ToString().Contains("Penyewa/Wishlist") || Request.Url.ToString().Contains("Penyewa/Cart") || Request.Url.ToString().Contains("Penyewa/Checkout") || Request.Url.ToString().Contains("Penyewa/Riwayat_pembayaran") || Request.Url.ToString().Contains("Penyewa/Beri_ulasan"))
                        {
                            aktif = "active";
                        }
                        else
                        {
                            aktif = "";
                        }
                        <li class="dropdown @aktif">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Wishlist","Penyewa")">Wishlist</a></li>
                                <li><a href="@Url.Action("Cart","Penyewa")">Cart</a></li>
                                <li><a href="@Url.Action("Checkout","Penyewa")">Checkout</a></li>
                                <li><a href="@Url.Action("Riwayat_pembayaran","Penyewa")">Riwayat pembayaran</a></li>
                            </ul>
                        </li>
                        @if (Request.Url.ToString().Contains("Penyewa/cek_saldo") ||
                            Request.Url.ToString().Contains("Penyewa/transfer") ||
                            Request.Url.ToString().Contains("Penyewa/top_up") ||
                            Request.Url.ToString().Contains("Penyewa/Uangkan") ||
                            Request.Url.ToString().Contains("Penyewa/lihat_mutasi")
                            )
                        {
                            aktif = "active";
                        }
                        else
                        {
                            aktif = "";
                        }
                        <li class="dropdown @aktif">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Our Service</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="nav-link" href="#" data-toggle="dropdown">Dana akun</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("cek_saldo","Penyewa")">Cek saldo</a></li>
                                        <li><a href="@Url.Action("transfer","Penyewa")">Transfer</a></li>
                                        <li><a href="@Url.Action("top_up","Penyewa")">Top up</a></li>
                                        <li><a href="@Url.Action("Uangkan","Penyewa")">Uangkan saldo</a></li>
                                        <li><a href="@Url.Action("lihat_mutasi","Penyewa")">Lihat mutasi</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link" href="#" data-toggle="dropdown">Pesan teks</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Pesan_baru","Penyewa")">Pesan baru</a></li>
                                        <li><a href="@Url.Action("Obrolan","Penyewa")">Obrolan</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @if (Request.Url.ToString().Contains("Penyewa/kritik_saran"))
                        {
                            aktif = "active";
                        }
                        else
                        {
                            aktif = "";
                        }
                        <li class="dropdown @aktif">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Contact Us</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("kritik_saran","Penyewa")">Kritik dan saran</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>                                
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        @{ int total = 0;
                            if (ViewBag.cart != null)
                            {

                                foreach (var item in ViewBag.cart)
                                {
                                    foreach (var barang in ViewBag.allBarang)
                                    {
                                        if (barang.id_barang == item.id_barang)
                                        {
                                            total = total + barang.harga_sewa;
                                            <li>
                                                <a href="#" class="photo"><img src="~/Content/RoleRental/Image/Barang/@barang.link_gambar" class="cart-thumb" alt="" /></a>
                                                <h6><a href="#">@barang.nama_barang </a></h6>
                                                <p>1x - <span class="price">@String.Format("{0:c}", barang.harga_sewa)</span></p>
                                            </li>
                                        }

                                                                }

                                }
                            }
                        }
                        
                        <li class="total">
                            <div class="row">
                                <div class="col">
                                    <h4 class="text-center"><strong>Total </strong>@String.Format("{0:c}", total)</h4>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <center><a href="@Url.Action("Cart","Penyewa")" class="btn btn-default hvr-hover btn-cart">VIEW CART</a></center>
                                </div>                                
                            </div>                            
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    @RenderBody()

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Rental Centre</h4>
                            <p>
                                Rental Centre adalah website pihak ketiga yang menghubungkan antara penyewa dengan rentaller dalam hal sewa menyewa alat multimedia, semua produk di sini terjamin keamannya karena semua proses dipantau langsung oleh pihak pengelola website.
                            </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#"><strike>Customer Service</strike></a></li>
                                <li><a href="#"><strike>Our Sitemap</strike></a></li>
                                <li><a href="#"><strike>Terms &amp; Conditions</strike></a></li>
                                <li><a href="#"><strike>Privacy Policy</strike></a></li>
                                <li><a href="#"><strike>Delivery Information</strike></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Alamat: DKI Jakarta, Jakarta Utara <br>Sunter Utara, 14350 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="#">0895 - 6064 - 25999</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:rentalcentreofficial@gmail.com">rentalcentreofficial@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Modal -->

    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:400px;">
            <div class="modal-content" style="background-color:whitesmoke">
                <div class="modal-header">
                    <h1 class="lead" style="color:black">LOGIN</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("Login","Home")" method="post" autocomplete="off">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col">
                                <input type="text" id="username" name="username" value="" class="form-control text-center" placeholder="Username" required />
                                <input type="password" id="password" name="password" value="" class="form-control text-center" placeholder="Password" required />
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col">
                                @if (Request.Url.ToString() == "http://localhost:51457/" || Request.Url.ToString() == "http://localhost:51457/Penyewa/" || Request.Url.ToString() == "http://localhost:51457/Penyewa/Index/")
                                {
                                    <input type="submit" name="btnSubmit" value="Masuk" class="btn btn-success form-control" style="border-radius:0px" />
                                }
                                else
                                {
                                    <a href="#" onclick="sending()" class="btn btn-success form-control" style="border-radius:0px"> Masuk </a>
                                }
                                <center><a href="#">Lupa password</a></center>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </form>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script>
                        function sending() {                            
                            var data = new Object();

                            data.username = $('#username').val();
                            data.password = $('#password').val();

                            if (data.username != "" && data.password != "") {
                                $.ajax({
                                    type: "POST",
                                    url: "http://localhost:51457/Home/masuk",
                                    data: JSON.stringify(data),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        alert('Selamat datang ' + response);
                                        location.reload();
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            }
                        }
                    </script>
                    <br />
                    <div class="row">
                        <div class="col">
                            <p>Belum memiliki akun ?</p>
                            <p>Buat akun <a href="@Url.Action("add_myAccount", "Penyewa")" style="color:blue">Penyewa</a> atau <a href="@Url.Action("page_signup", "Rental")" style="color:blue">Rentaller</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start copyright  -->
    @*<div class="footer-copyright">
            <p class="footer-company">
                All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
                <a href="https://html.design/">html design</a>
            </p>
        </div>*@
    <!-- End copyright  -->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/Content/RoleUser/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/RoleUser/js/popper.min.js"></script>
    <script src="~/Content/RoleUser/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Content/RoleUser/js/jquery.superslides.min.js"></script>
    <script src="~/Content/RoleUser/js/bootstrap-select.js"></script>
    <script src="~/Content/RoleUser/js/inewsticker.js"></script>
    <script src="~/Content/RoleUser/js/bootsnav.js"></script>
    <script src="~/Content/RoleUser/js/images-loded.min.js"></script>
    <script src="~/Content/RoleUser/js/isotope.min.js"></script>
    <script src="~/Content/RoleUser/js/owl.carousel.min.js"></script>
    <script src="~/Content/RoleUser/js/baguetteBox.min.js"></script>
    <script src="~/Content/RoleUser/js/form-validator.min.js"></script>
    <script src="~/Content/RoleUser/js/contact-form-script.js"></script>
    <script src="~/Content/RoleUser/js/custom.js"></script>
</body>

</html>