@model PagedList.IPagedList<Rental_Centre.Models.trpenyewaan>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_PenyewaTemplate.cshtml";
}

<br />
<div class="container">
    <label><a href="@Url.Action("Index")">SHOP </a> > Checkout</label>
    <div class="row">
        <div class="col" style="height:600px; overflow:scroll">
            @{ int i = ((Model.PageNumber - 1) * 10) + 1;}
            <small>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>
                                    No.
                                </th>
                                <th>
                                    Jenis sewa
                                </th>
                                <th>
                                    Tanggal checkout
                                </th>
                                <th>
                                    Tanggal penyewaan
                                </th>
                                <th>
                                    Tanggal pengembalian
                                </th>
                                <th>
                                    Biaya DP
                                </th>
                                <th>
                                    Biaya total
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr class="text-center">
                                <td>@i.</td>

                                @{
                                    if (item.jenis_sewa == 0)
                                    {
                                        <td>DIKIRIM</td>
                                    }
                                    else
                                    {
                                        <td>DIAMBIL</td>
                                    }
                                }

                                <td class="text-center">
                                    @item.creadate.ToString("dd-MM-yyyy")
                                </td>
                                <td class="text-center">
                                    @item.tgl_penyewaan.ToString("dd-MM-yyyy")
                                </td>
                                <td class="text-center">
                                    @item.tgl_pengembalian.ToString("dd-MM-yyyy")
                                </td>
                                <td class="text-right">
                                    @String.Format("{0:c}", item.total_dp)
                                </td>
                                <td class="text-right">
                                    @String.Format("{0:c}", item.total_harga)
                                </td>
                                <td class="text-center">
                                    @item.status_transaksi
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col text-center">
                                            @if (item.status_dp == 0)
                                            {
                                                <form action="Konfirmasi_dp" method="post" class="d-inline">
                                                    <input type="hidden" name="id" value="@item.id_penyewaan" />
                                                    <button style="border:0px;background-color:transparent;cursor:pointer"><span class="fa fa-check" title="Kirim Bukti DP"></span></button> |
                                                </form>
                                            }
                                            <form action="Checkout_details" method="post" class="d-inline">
                                                <input type="hidden" name="id" value="@item.id_penyewaan" />
                                                <button style="background-color:transparent;border:0px;cursor:pointer"><span class="fa fa-info" title="Details Checkout"></span></button> |
                                            </form>
                                            <a href="#" onclick="return confirm('Tekan OK untuk membatalkan!')"><span class="fa fa-trash" title="Batalkan Transaksi"></span></a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                                i++;
                            }
                            <tr><td colspan="8"></td></tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (Model.PageNumber != 1)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Checkout",new { page = Model.PageNumber-1})">Previous</a></li>
                            }

                            <li class="page-item"><a class="page-link" href="@Url.Action("Checkout",new { page = Model.PageNumber})">@Model.PageNumber/@Model.PageCount</a></li>
                            @if (Model.PageNumber != Model.PageCount && Model.PageCount != 0)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Checkout",new { page = Model.PageNumber+1})">Next</a></li>
                            }

                        </ul>
                    </nav>
                </div>
            </small>
        </div>
    </div>
</div>

