
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PenyewaTemplate.cshtml";
}


<!-- Start Slider -->

<div id="slides-shop" class="cover-slides">
    @if (!string.IsNullOrEmpty(ViewBag.error))
    {
        <script>
       alert('@ViewBag.error');
        </script>
    }
    <ul class="slides-container">
        <li class="text-left">
            <img src="~/Content/RoleUser/images/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Rental Centre</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/RoleUser/images/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Rental Centre</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-right">
            <img src="~/Content/RoleUser/images/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Rental Centre</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Our Products</h1>
                    <p>Berikut adalah beberapa contoh product kami.</p>
                </div>
            </div>
        </div>
        <br />

        <div class="row special-list">
            @{ int i = 0;}
            @foreach (Rental_Centre.Models.msbarang barang in ViewBag.msbarang)
            {
                if(barang.stok_barang <= 0)
                {
                    continue;
                }
                if (i == 8)
                {
                    break;
                }
                i++;
                <div class="col-lg-3 col-md-6 special-grid">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="~/Content/RoleRental/Image/Barang/@barang.link_gambar" class="img-fluid" alt="Image" style="height:200px;width:auto">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="@Url.Action("Product","Penyewa",new { id = barang.id_barang })" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="@Url.Action("add_toWishList0", "Penyewa", new { id_barang = barang.id_barang })" id="wishlist" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" data-cart="@barang.id_barang" href="@Url.Action("add_ToCart", "Penyewa",new { id = barang.id_barang })"><span class="fa fa-cart-plus"></span> Keranjang</a>

                            </div>
                        </div>
                        <div class="why-text">
                            @{string uang = String.Format("{0:c}", barang.harga_sewa);}
                            <h4 style="width:200px;text-overflow: ellipsis;overflow: hidden !important;white-space: nowrap;">@barang.nama_barang</h4>
                            <h5> @uang / hari</h5>
                            <p><b>Stok Tersedia</b></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                <a href="@Url.Action("All","Penyewa")" class="btn btn-outline-primary">Show All</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>


@if (Session["username"] == null)
{
    <hr />
    <section class="subscription my-5 d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center flex-column">
            <h3 class="text-center font-weight-bold">Jadilah bagian dari kami</h3>
            <p class="text-center">Tunggu apa lagi! Mari daftarkan diri anda segera</p>
            <div class="d-flex mt-3">
                <a href="@Url.Action("add_myAccount", "Penyewa")" class="btn btn-danger mr-4">Jadi Penyewa</a>
                <a href="@Url.Action("page_signup", "Rental")" class="btn btn-outline-danger">Jadi Rentaller</a>
            </div>
        </div>
    </section>
}

<br />
<!-- End Products  -->
<!-- Start Blog  -->
<!-- End Blog  -->
<!-- Start Instagram Feed  -->
<!-- End Instagram Feed  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    @*$(function(){
       $(".cart").click(function(e){
         e.preventDefault();
           $.post("@Url.Action("add_ToCart", "Penyewa")", { id: $(this).data("cart") }, function (data) {
           });
       });
    });*@


</script>