@model PagedList.IPagedList<Rental_Centre.Models.dtmutasisaldo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "lihat_mutasi";    
    Layout = "~/Views/Shared/_RentalTemplate.cshtml";
}

<div class="container">
    <a>Dana</a> / <a href="">Lihat Mutasi</a>
    <div class="card text-center">
        <div class="card-body">
            <h3 class="lead">MUTASI SAYA</h3>
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Deskripsi</td>
                        <td>Waktu transaksi</td>
                        <td>Masuk</td>
                        <td>Keluar</td>
                        <td>Saldo</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int no = ((Model.PageNumber - 1) * 10) + 1; ;
                    }
                    @foreach (var item in Model)
                    {

                        string uang = String.Format("{0:c}", item.jumlah_transaksi);

                        <tr>
                            <td>@no.</td>
                            <td>@item.jenis_transaksi</td>
                            <td>@item.creadate.ToString("dd/MM/yyyy HH:mm")</td>
                            @{
                                if (item.jenis_transaksi == "TOP UP" || item.jenis_transaksi.Contains("TERIMA"))
                                {
                                    <td class="text-right">@uang</td>
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>-</td>
                                    <td class="text-right">@uang</td>                                    
                                }
                            }

                            <td class="text-right">@String.Format("{0:c}", item.jumlah_saldo)</td>
                        </tr>
                        no++;
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.PageNumber != 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("lihat_mutasi",new { page = Model.PageNumber-1})">Previous</a></li>
                    }

                    <li class="page-item"><a class="page-link" href="@Url.Action("lihat_mutasi",new { page = Model.PageNumber})">@Model.PageNumber/@Model.PageCount</a></li>
                    @if (Model.PageNumber != Model.PageCount && Model.PageCount != 0)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("lihat_mutasi",new { page = Model.PageNumber+1})">Next</a></li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>

