@model PagedList.IPagedList<Rental_Centre.Models.trpenyewaan>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Pengajuan_sewa";
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_rental;
    ViewBag.Toko_user = ViewBag.logged_in.nama_toko;
    Layout = "~/Views/Shared/_RentalTemplate.cshtml";
}

<div class="container">
    <label>Aktivitas / Pengajuan sewa</label><br />
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label>
                        <p>
                            Perlu diperhatikan <span style="color:black">"Biaya Total"</span> bukanlah uang yang akan didapat,
                            melainkan total transaksi pada penyewaan tersebut
                            Penyewaan ini belum tentu hanya terdiri dari produk anda saja, lihat bagian details.
                        </p>
                    </label>
                </div>
                <div class="col text-center justify-content-center" style="border-left:1px solid">
                    <br />
                    <label>
                        <p style="color:black">
                            Tekan tanda <span class="fa fa-check" style="color:blue"></span> untuk menyiapkan produk<br />
                            Tekan tanda <span class="fa fa-info" style="color:blue"></span> untuk melihat details penyewaan<br />
                        </p>
                    </label>
                </div>
            </div> 
            <br />
            @{ int i = ((Model.PageNumber - 1) * 10) + 1;}
            <small>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>
                                    No.
                                </th>
                                <th>
                                    Penyewa
                                </th>
                                <th>
                                    Pengajuan
                                </th>
                                <th>
                                    Tanggal penyewaan
                                </th>
                                <th>
                                    Tanggal pengembalian
                                </th>
                                <th>
                                    Jenis Sewa
                                </th>
                                <th>
                                    Biaya total
                                </th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>@i.</td>

                            @foreach (var penyewa in ViewBag.mspenyewa)
                            {
                                if (penyewa.id_penyewa == item.id_penyewa)
                                {
                                    <td>@penyewa.username (@penyewa.nama_penyewa)</td>
                                }
                            }
                            <td class="text-center">
                                @item.creadate.ToString("dd-MM-yyyy")
                            </td>
                            <td class="text-center">
                                @item.tgl_penyewaan.ToString("dd-MM-yyyy")
                            </td>
                            <td class="text-center">
                                @item.tgl_pengembalian.ToString("dd-MM-yyyy")
                            </td>
                            @if (item.jenis_sewa == 0)
                            {
                                <td class="text-center">KIRIM</td>
                            }
                            else
                            {
                                <td class="text-center">DIAMBIL DI TOKO</td>
                            }

                            <td class="text-right">
                                @String.Format("{0:c}", item.total_harga)
                            </td>
                            @{
                                string foto = "";
                                foreach (var pembayaran in ViewBag.trpembayaran)
                                {
                                    if (pembayaran.id_penyewaan == item.id_penyewaan)
                                    {
                                        foto = pembayaran.bukti_pembayaran;
                                    }
                                }
                            }
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <form action="Pengemasan" method="post" class="d-inline">
                                            <input type="hidden" name="id_penyewaan" value="@item.id_penyewaan" />
                                            <button style="background-color:transparent;border:0px"><span class="fa fa-check" title="Siapkan produk"></span></button> |
                                        </form>
                                        
                                        <a href="#"><span class="fa fa-info" title="Details"></span></a> |
                                    </div>
                                </div>

                            </td>
                        </tr>
                            i++;

                        }

                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (Model.PageNumber != 1)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Pengajuan_sewag",new { page = Model.PageNumber-1})">Previous</a></li>
                            }

                            <li class="page-item"><a class="page-link" href="@Url.Action("Pengajuan_sewag",new { page = Model.PageNumber})">@Model.PageNumber/@Model.PageCount</a></li>
                            @if (Model.PageNumber != Model.PageCount && Model.PageCount != 0)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Pengajuan_sewag",new { page = Model.PageNumber+1})">Next</a></li>
                            }

                        </ul>
                    </nav>
                </div>
            </small>
        </div>
    </div>
</div>
