@model Rental_Centre.Models.mskodepos
@{
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_admin;
    ViewBag.Title = "edit_kodepos";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}


@using (Html.BeginForm())
{
    <div id="add">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">Ubah Data</div><br />
                        <input type="hidden" name="id_kodepos" value="@Model.id_kodepos" />
                        Kode Pos
                        <input class="form-control" type="text" placeholder="Masukkan Kodepos" name="kodepos" value="@Model.kodepos" required />
                        <br />
                        Kelurahan
                        <input class="form-control" type="text" placeholder="Masukkan kelurahan" name="kelurahan" value="@Model.kelurahan" required />
                        <br />
                        Kecamatan
                        <input class="form-control" type="text" placeholder="Masukkan Kecamatan" name="kecamatan" value="@Model.kecamatan" required />
                        <br />
                        Kota
                        <input class="form-control" type="text" placeholder="Masukkan Kota" name="kota" value="@Model.kota" required />
                        <br />
                        Provinsi
                        <input class="form-control" type="text" placeholder="Masukkan Provinsi" name="provinsi" value="@Model.provinsi" required />
                        <br />
                        <a href="page_kodepos" class="btn btn-secondary">Kembali</a>
                        <input class="btn btn-warning float-right" id="btnInsert" type="submit" name="btnSubmit" value="Perbarui Data" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
