@model PagedList.IPagedList<Rental_Centre.Models.dtmutasisaldo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "mutasi";
    ViewBag.Profile = ViewBag.Logged_in.profil;
    ViewBag.Nama_user = ViewBag.Logged_in.nama_admin;
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<div class="container">
    <a>Keuangan</a> / <a href="">Mutasi Website</a>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="lead text-center">MUTASI</h5>
            <br />
            <form action="@Url.Action("mutasi","Admin", new { page = Model.PageNumber })" method="get" onchange="submit(this)" id="formku">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md">
                                <input type="date" id="awal" name="awal" value="@ViewBag.awal.ToString("yyyy-MM-dd")" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeypress="return false" />
                            </div>
                            <div class="col-md">
                                <input type="date" id="akhir" name="akhir" value="@ViewBag.akhir.ToString("yyyy-MM-dd")" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeypress="return false" />
                            </div>                            
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md">
                                <select name="kelompok" class="form-control" id="kelompok">
                                    <option value="A">SEMUA</option>
                                    <option value="TR">TRANSFER</option>
                                    <option value="TU">TOP UP</option>
                                    <option value="DP">DP PENYEWAAN</option>
                                    <option value="PL">PELUNASAN SEWA</option>
                                </select>
                                <script>
                            document.getElementById("kelompok").value = "@ViewBag.kelompok";
                                function submit(a) {
                                    a.submit();
                                }
                                </script>
                            </div>
                        </div>
                    </div>                    
                    <div class="col">
                        <p class="text-primary">
                            Ubah salah satu filter untuk mengubah data, atau tekan <a href="#" class="text-danger" onclick="bulan()">di sini</a> untuk melihat data satu bulan ke belakanag
                        </p>
                        <script>
                            function bulan() {
                                document.getElementById("akhir").value = "@DateTime.Now.ToString("yyyy-MM-dd")";
                                document.getElementById("awal").value = "@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")";
                                var a = document.getElementById("formku");
                                submit(a);
                            }
                        </script>
                    </div>
                </div>
            </form>
            <br />
            <table class="table table-hover  text-center">
                <thead class="thead-dark">
                    <tr>
                        <td>No.</td>
                        <td>Deskripsi</td>
                        <td>Bersangkutan</td>
                        <td>Waktu transaksi</td>
                        <!--
                        <td>Masuk</td>
                        <td>Keluar</td>
                        <td>Dana Website</td>
                            -->
                        <td>Jumlah Transaksi</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int no = ((Model.PageNumber - 1) * 10) + 1; ;
                    }
                    @foreach (var item in Model)
                    {

                        string uang = String.Format("{0:c}", item.jumlah_transaksi);
                        string nama = "";
                        if (item.id_penyewa != null)
                        {
                            foreach (var a in ViewBag.mspenyewa)
                            {
                                if (a.id_penyewa == item.id_penyewa)
                                {
                                    nama = a.username.ToUpper();
                                }
                            }
                        }
                        if (item.id_rental != null)
                        {
                            foreach (var a in ViewBag.msrental)
                            {
                                if (a.id_rental == item.id_rental)
                                {
                                    nama = a.username.ToUpper();
                                }
                            }
                        }
                        <tr>
                            <td>@no.</td>
                            <td>@item.jenis_transaksi</td>
                            <td>@nama</td>
                            <td>@item.creadate.ToString("dd/MM/yyyy HH:mm")</td>
                            @*@{
                                if (item.jenis_transaksi == "TOP UP")
                                {
                                    <td>-</td>
                                    <td class="text-right">@uang</td>
                                }
                                else
                                {
                                    <td class="text-right">@uang</td>
                                    <td class="text-right">@uang</td>
                                }
                            }*@
                            @*<td class="text-right">@String.Format("{0:c}", item.jumlah_saldo)</td>*@
                            <td class="text-right">@uang</td>
                        </tr>
                        no++;
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.PageNumber != 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("mutasi",new { page = Model.PageNumber-1, awal = ViewBag.awal.ToString("yyyy-MM-dd"), akhir = ViewBag.akhir.ToString("yyyy-MM-dd"), kelompok = ViewBag.kelompok})">Previous</a></li>
                    }

                    <li class="page-item"><a class="page-link">@Model.PageNumber/@Model.PageCount</a></li>
                    @if (Model.PageNumber != Model.PageCount && Model.PageCount != 0)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("mutasi",new { page = Model.PageNumber+1, awal = ViewBag.awal.ToString("yyyy-MM-dd"), akhir = ViewBag.akhir.ToString("yyyy-MM-dd"), kelompok = ViewBag.kelompok})">Next</a></li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>

