@model PagedList.IPagedList<Rental_Centre.Models.msjenisbarang>
@using PagedList.Mvc;

@{
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_admin;
    ViewBag.Title = "page_kelompokjenisbarang";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}


<h2>Data Jenis Barang</h2>
<br />

<div id="view">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="add_jenisbarang">Tambah Data</a>
        </div>
        @*<div class="col">
            <select class="form-control" id="ddlKelompok" name="group">
                <option value="-1">- Kelompokkan data -</option>
                @foreach (var item in ViewBag.mskelompokjenis)
                {
                    <option value="item.id_kelompokjenis">@item.nama_kelompokjenis</option>
                }
            </select>
        </div>*@
        <div class="col">

            @using (Html.BeginForm("page_jenisbarang", "Admin", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right" }))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Pencarian..", @id = "lala" })
                <input type="submit" value="Cari" class="btn btn-primary" />
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @{ int i = ((Model.PageNumber - 1) * 10) + 1;}
            <small>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Nama Jenis
                                </th>
                                <th>
                                    Pembuat
                                </th>
                                <th>
                                    Tanggal Pembuatan
                                </th>
                                <th>
                                    Diperbarui
                                </th>
                                <th>
                                    Tanggal Pembaruan
                                </th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            if (item.status == 1)
                            {
                                <tr id="d_@item.id_kelompokjenis">
                                    <td>@i.</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nama_jenisbarang)
                                    </td>
                                    <td>
                                        @foreach (var admin in ViewBag.msadmin)
                                        {
                                            if (@item.creaby == @admin.id_admin)
                                            {
                                                @admin.nama_admin;
                                                break;
                                            }
                                        }
                                    </td>
                                    <td>
                                        @item.creadate.Value.ToString("dd/MMM/yyyy")
                                    </td>
                                    <td>
                                        @{ bool found = false;}
                                        @foreach (var admin in ViewBag.msadmin)
                                        {
                                            if (@item.modiby == @admin.id_admin)
                                            {
                                                @admin.nama_admin;
                                                found = true;
                                                break;
                                            }
                                        }
                                        @{ if (found == false)
                                            {
                                                <p>-</p>
                                            }
                                        }

                                    </td>
                                    <td>
                                        @{if (item.modidate != null)
                                            {
                                                @item.modidate.Value.ToString("dd/MM/yyyy")
                                            }
                                            else
                                            {
                                                <p>-</p>
                                            }
                                        }
                                    </td>
                                    @{ string kelompokjenis = "";}
                                    @foreach (var a in ViewBag.mskelompokjenis)
                                    {
                                        if (a.id_kelompokjenis == item.id_kelompokjenis)
                                        {
                                            kelompokjenis = a.nama_kelompokjenis;
                                            break;
                                        }
                                    }
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <a href="edit_jenisbarang?id=@item.id_jenisbarang"><span class="fa fa-edit" title="Edit"></span></a> |
                                                <a href="#" data-toggle="modal" data-target="#detail" onclick="setDetail('@item.nama_jenisbarang','@item.deskripsi','@kelompokjenis')"><span class="fa fa-info" title="Details"></span></a> |
                                                <a onclick="return confirm('Yakin akan menghapus jenis ?')"
                                                   href="hapus_jenisbarang?id=@item.id_jenisbarang"><span class="fa fa-trash" title="Hapus"></span></a>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                i++;
                            }
                        }

                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (Model.PageNumber != 1)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("page_jenisbarang",new { page = Model.PageNumber-1, currentFilter = ViewBag.CurrentFilter})">Previous</a></li>
                            }

                            <li class="page-item"><a class="page-link" href="@Url.Action("page_jenisbarang",new { page = Model.PageNumber, currentFilter = ViewBag.CurrentFilter})">@Model.PageNumber/@Model.PageCount</a></li>
                            @if (Model.PageNumber != Model.PageCount && Model.PageCount != 0)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("page_jenisbarang",new { page = Model.PageNumber+1, currentFilter = ViewBag.CurrentFilter })">Next</a></li>
                            }

                        </ul>
                    </nav>
                </div>
            </small>
        </div>
    </div>

</div>

<!-- Modal -->

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><div id="detail_header"></div></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="detail_body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function setDetail(a, b,c) {
        var header = a;
        var body = b;
        var kel = c;

        document.getElementById("detail_header").innerHTML = "";
        document.getElementById("detail_body").innerHTML = "";

        document.getElementById("detail_header").innerHTML = header + " ("+kel+")";
        document.getElementById("detail_body").innerHTML = body;


    }

    function ubah(jumlahkelompok) {
        var n = document.getElementById("ddlkelompokjenis").value;
        if (n == 0) {
            for (i = 1; i <= jumlahkelompok; i++) {
                var x = document.querySelectorAll("#d_" + i);
                for (g = 0; g < x.length; g++) {
                    x[g].hidden = false;
                }
            }
        } else {
            for (i = 1; i <= jumlahkelompok; i++) {
                var x = document.querySelectorAll("#d_" + i);
                for (g = 0; g < x.length; g++) {
                    x[g].hidden = true;
                }
            }
            var x = document.querySelectorAll("#d_" + n);
            for (g = 0; g < x.length; g++) {
                x[g].hidden = false;
            }
        }
    }

    $(document).ready(function () {
        $('#ddlKelompok').on('change', function () {
            document.forms["page_jenisbarang"].submit();
        });
    });
</script>