@model PagedList.IPagedList<Rental_Centre.Models.msprovinsi>
@using PagedList.Mvc;

@{
    ViewBag.Title = "page_provinsi";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<h2>Data Provinsi</h2>
<br />

<div id="view">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="add_provinsi">Tambah Data</a>
        </div>
        <div class="col">

            @using (Html.BeginForm("page_provinsi", "Admin", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right" }))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Pencarian.." })
                <input type="submit" value="Cari" class="btn btn-primary" />
            }
        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col">
            @{ int i = ((Model.PageNumber - 1) * 10) + 1;}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Nama Provinsi
                            </th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr id="d_@item.id_provinsi">
                            <td>@i.</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nama_provinsi)
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <a href="edit_provinsi?id=@item.id_provinsi"><span class="fa fa-edit" title="Edit"></span></a> |
                                        <a href="#" data-toggle="modal" data-target="#detail" onclick="setDetail('@item.nama_provinsi','@item.nama_provinsi')"><span class="fa fa-info" title="Details"></span></a> |
                                        <a onclick="return confirm('Yakin akan menghapus jenis ?')"
                                           href="hapus_provinsi?id=@item.id_provinsi"><span class="fa fa-trash" title="Hapus"></span></a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        i++;

                    }

                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.PageNumber != 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("page_provinsi",new { page = Model.PageNumber-1, currentFilter = ViewBag.CurrentFilter})">Previous</a></li>
                        }

                        <li class="page-item"><a class="page-link" href="@Url.Action("page_provinsi",new { page = Model.PageNumber, currentFilter = ViewBag.CurrentFilter})">@Model.PageNumber/@Model.PageCount</a></li>
                        @if (Model.PageNumber != Model.PageCount && Model.PageCount != 0)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("page_provinsi",new { page = Model.PageNumber+1, currentFilter = ViewBag.CurrentFilter })">Next</a></li>
                        }

                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><div id="detail_header"></div></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="detail_body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function setDetail(a, b) {
        var header = a;
        var body = b;

        document.getElementById("detail_header").innerHTML = "";
        document.getElementById("detail_body").innerHTML = "";

        document.getElementById("detail_header").innerHTML = header;
        document.getElementById("detail_body").innerHTML = body;


    }
</script>